# httpd run artifacts

logs/httpd/**

# Sonarr run artifacts

logs/sonarr/**

# Sabnzb run artifacts

logs/sabnzbd/**
app/config/sabnzbd/admin
app/config/sabnzbd/sabnzbd.ini.bak

# Data

data/**

# Vagrant

.vagrant

# Keep folders

!**/.gitkeep
