# httpd run artifacts

app/logs/httpd/**

# Sonarr run artifacts

app/logs/sonarr/**
app/config/sonarr/*db*
app/config/sonarr/nzbdrone.pid
app/config/sonarr/logs

# Couchpotato run artifacts

app/logs/couchpotato/**

# nzbget run artifacts

app/logs/nzbget/**

# Data

app/data/**

# Vagrant

.vagrant

# Keep folders
!app/**/
!app/**/.gitkeep
